.container{
    padding-top: 15px;
}
.container > span{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container > span > h3{
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    display: inline-block;
}